<form
  enctype="multipart/form-data"
  method="POST"
  action="/images/{% if image.id %}{{ image.id }}{% endif %}">
  {% if image.id %}
    <input type="hidden" name="id" value="{{ image.id }}">
  {% endif %}
  <div>
    <label>Parent Variant:</label>
    <select name="variantId">
      <option>Select Variant...</option>
      {% for variant in variants %}
        <option value="{{ variant.id }}" {% if variant.id == image.variantId %}selected="selected"{% endif %}>
          {{ variant.title }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="image">Upload Image:</label>
    <br />
    <input type="file" name="image" id="image" />
  </div>
  <button class="py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" type="submit">
        Submit
    </button>
</form>